@media screen and (min-width: 910px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .header {
        height: 216px;
    }

    .mainTitel {
        width: 50%;
        font-size: 40px;
        padding: 0;
        position: relative;
        left: 182px;
        top: 74px;
    }

    .fejkButton {
        display: none;
    }

    .mainNav {
        display: block;
        background-color: #011827;
        position: relative;
        height: 24px;
        top: 116px;
        font-size: 24px;
        padding-bottom: 22px;
    }

    .mainNav ul {
        list-style: none;
        text-align: center;
        margin-bottom: 0;
    }

    .mainNav li {
        display: inline;
        padding: 0 4.45%;
    }

    .mainNav a {
        text-decoration: none;
        color: white;
        font-weight: 700;
    }

    .mainNav a:hover {
        color: #8ACFE5;
    }

    .welcomeImage {
        content: url(image_2.png);
        display: block;
        position: relative;
    }

    .buttonsRow1,
    .buttonsRow2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
        top: -33px;

    }

    .onlineChallenges,
    .onlineChallenges2 {
        background-color: #e3170a;
        text-align: center;
        width: 24%;
        height: 47px;
        border-radius: 4px;
        font-size: 24px;
        line-height: 28.13px;
        font-weight: 700;
        font-family: "Roboto";
        border: 0;
        color: #FFFFFF;
        padding-top: 19px;
        text-decoration: none;
        top: 0;
        margin: 0;
        margin-right: 8.5px;
    }

    .blueButton,
    .blueButton2 {
        top: 0;
        width: 24%;
        margin: 0;
        margin-left: 8.5px;
    }

    .reviews {
        position: relative;
        top: 75px;
        height: 141px;
        margin: auto;
        width: 84.547%;
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .review1 {
        display: inline-block;
        width: 48.919%;
        height: 100%;
        top: 0;
    }

    .review2 {
        display: inline-block;
        width: 49.107%;
        height: 100%;
        left: 1.77%;
    }

    .review1 p {
        left: 16.46px;
        width: 78.373%;
    }

    .review2 p {
        width: 78.6%;
        left: 16.89px;
    }

    @media screen and (min-width: 1280px) {

        .review1 img,
        .review2 img {
            padding-top: 3px;
            height: 95px;
            width: 95px;
            float: left;
        }
    }

    .comment {
        height: 139px;
        left: 0;
    }

    .commentAuthor {
        font-size: 18px;
        width: 70%;
        font-weight: 400;
        display: inline-block;
        top: 17px;
    }

    .popularChallengesTitle {
        top: 183px;
        margin: auto;
        font-size: 36px;
    }

    .popularChallenges {
        top: 270px;
    }

    @media screen and (min-width: 1280px) {
        .popularChallenges {
            top: 270px;
            margin: auto;
            overflow-x: hidden;
        }
    }

    .challenge1,
    .challenge2,
    .challenge3 {
        margin: 0 21px;
    }

    .buttonsRow2 {
        top: 350px;
    }

    .blackSection {
        top: 437px;
        width: 100%;
    }

    .blackSection p {
        width: 49.3%;
        margin: auto;
        padding-top: 123px;
    }

    .blackButton {
        bottom: 142px;
        width: 24%;
    }

    .randomImage {
        height: 460px;
        width: 50%;
        display: inline-block;
    }

    .section1 {
        padding: 0;
        margin: 0;
        width: 50%;
        height: 460px;
        left: 50%;
        top: -465px;
        display: inline-block;
    }

    .section1 p,
    .section2 p {
        width: 65%;
        margin-bottom: 0;
        padding-left: 116px;
    }

    .section1 h1,
    .section2 h1 {
        width: 65%;
    }

    .redButton2,
    .redButton3 {
        margin-left: 116px;
        width: 48.1%;
    }

    .someImage {
        top: 0;
        width: 50%;
        left: 50%;
        height: 460px;
    }

    .section2 {
        padding: 0;
        top: -524px;
        width: 50%;
        margin: 0;
        height: 460px;
    }

    .playOnline {
        margin-top: 60px;
        margin-bottom: 25px;
    }

    .playWithFriends,
    .playOnline {
        padding-top: 60px;
        padding-left: 116px;
    }

    .sameRow {
        top: 437px;
        width: 100%;
        display: inline-block;
        height: 460px;
    }

    .footer {
        top: 620px;
        height: 467px;
        width: 100%;
        padding: 0;
        display: flex;
    }

    .about {
        width: 32.5%;
        padding-top: 146px;
        margin-left: 108px;
    }

    .siteMap {
        padding-top: 146px;
        padding-left: 232px;
    }

    .contact {
        padding-top: 146px;
        padding-left: 216px;
    }

    .participants {
        padding-left: 98px;
    }
}