@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto';
}

body {
    margin: 0;
    min-width: 359px;
}

.mainNav {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.mainNav.open {
    display: block;
    position: fixed;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    font-size: 2.25em;
    font-weight: 700;

    animation: milkyscreen 0.2s 0.2s;
    animation-fill-mode: backwards;
}

@keyframes milkyscreen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mainNav.open ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #011827;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    animation: sideMenuReveal 0.4s 0.2s;
    animation-fill-mode: backwards;
}

@keyframes sideMenuReveal {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1.0);
    }
}


.mainNav.open ul :last-child {
    margin-bottom: 0;
}

.mainNav.open a {
    text-decoration: none;
    color: #FFFFFF;
}

.mainNav.open li {
    margin-bottom: 1.5em;
}

.mainNav.open div {
    animation: buttonFadeIn 0.4s 0.2s;
    animation-fill-mode: backwards;
}

@keyframes buttonFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo {
    width: 122px;
    height: 76px;
    left: 27px;
    top: 26px;

    border: 6px solid #FFFFFF;
    border-radius: 17px;
    display: inline-block;
    position: absolute;
}


.header {
    width: 100%;
    height: 144px;
    background-color: #011827;
}

.welcomeImage {
    content: url(image2.png);
    width: 100%;
    height: auto;
}

.escLogo {
    position: absolute;
    content: url(Esc.png);
    left: 6px;
    top: 44px;
}

.mainTitel {
    color: white;
    display: inline-block;
    width: 78px;
    font-weight: 700;
    font-size: 24px;
    padding-left: 180px;
    padding-top: 25px;
    margin: 0;
    line-height: 28.13px;
}

.menuButton {
    position: relative;
    float: right;
    right: 25px;
    width: 51px;
    top: 34px;
    height: 30px;
    display: inline-block;
}

.menuButtonLines {
    right: 0.5em;
    top: 0.75em;
}

.line1,
.line2,
.line3 {
    position: absolute;
    content: url(Line.png);
}

.line2 {
    padding-top: 12px;
}

.line3 {
    padding-top: 24px;
}


.blueButton,
.blueButton2 {
    background-color: #8ACFE6;
    text-align: center;
    width: 64.17%;
    height: 66px;
    border-radius: 4px;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
    font-family: "Roboto";
    border: 0;
    display: block;
    position: relative;
    top: 5.1vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.blueButton2 {
    top: 41vh;
}

.redButton,
.redButton2,
.redButton3 {
    background-color: #e3170a;
    text-align: center;
    width: 64.17%;
    height: 66px;
    border-radius: 4px;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
    font-family: "Roboto";
    border: 0;
    color: #FFFFFF;
}

.redButton {
    width: 179.28px;
    height: 44px;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 148.93px;
    margin-bottom: 12px;
}

.redButton2,
.redButton3 {
    position: relative;
    top: 3.5vh;
}

.onlineChallenges,
.onlineChallenges2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    width: 27%;
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    top: 8.87vh;
    color: #36769D;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.onlineChallenges2 {
    top: 45.5vh;
}

.review2 {
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.review1 {
    height: 19%;
    width: 91.458%;
    position: relative;
    top: 136px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.commentImage {
    float: left;
    content: url(image_3.png);
}

@media screen and (max-width: 380px) {
    .commentImage {
        height: 62px;
        width: 64px;
    }
}

.comment {
    position: relative;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    line-height: 28.13px;
    width: 78.5%;
    display: inline-block;
    left: 22.4px;
}

@media screen and (max-width: 420px) {
    .comment {
        font-size: 20px;
    }
}

.commentAuthor {
    font-size: 18px;
    font-style: normal;
    line-height: 21.09px;
    font-weight: 400;
    position: relative;
}

@media screen and (max-width: 420px) {
    .commentAuthor {
        font-size: 14px;
    }
}

.popularChallengesTitle {
    position: relative;
    text-align: center;
    width: 90%;
    top: 33vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.popularChallenges {
    position: relative;
    top: 35vh;
    display: flex;
    padding: 0 33px;
    overflow-x: scroll;
}

.challenge1,
.challenge2,
.challenge3 {
    height: 446px;
    width: 363px;
    margin: 0 19px;
}

.description {
    padding: 0 17px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 8px 8px;
}

.rating {
    display: inline-block;
}

.rating img {
    padding: 0 4px;
}

.participants {
    padding-left: 10px;
}

.roomImage {
    display: block;
    content: url(image2.png);
    width: 363px;
    height: 219px;
    border-radius: 8px 8px 0px 0px;
}

.roomTitle {
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 12px;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
}

.roomDescription {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.blackSection {
    position: relative;
    top: 53.7vh;
    width: 100%;
    height: 500px;
    background-color: #011827;
}

.blackSection p {
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding-top: 95px;
    margin: 0;
}

.blackButton {
    background-color: transparent;
    text-align: center;
    width: 64.17%;
    height: 66px;
    border-radius: 4px;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
    font-family: "Roboto";
    border: 2px solid #8ACFE5;
    color: #8ACFE5;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 343px;
    left: 0;
    right: 0;
}

.randomImage {
    content: url(nesa-by-makers.png);
    position: relative;
    width: 100%;
    left: 0;
}

.playWithFriends {
    width: 90%;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;

}

.playWithFriendsText {
    position: relative;
    width: 90%;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 400;
}

.someImage {
    content: url(kelly-sikkema.png);
    position: relative;
    left: 0;
    width: 100%;
}

.sameRow1 {
    position: relative;
    top: 53.7vh;
    height: 70.7%;
}

.main {
    min-height: 3100px;
}

.sameRow2 {
    position: relative;
    height: 70.7%;
    top: 53.7vh;
}

@media screen and (max-height: 699px) {
    .sameRow2 {
        top: 400px;
    }
}

.section1,
.section2 {
    position: relative;
    width: 90%;
    height: 58.3vh;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.playOnline {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
}

.playOnlineText {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 400;
}

.footer {
    position: relative;
    top: 53.2vh;
    background-color: #011827;
    color: #FFFFFF;
    height: 535px;
    padding-top: 64px;
    padding-left: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.spaceInFooter {
    padding-bottom: 22px;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer p {
    margin-top: 7px;
    margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer ul {
    padding: 0;
    margin-top: 7px;
    list-style: none;
    margin-bottom: 47px;
}